/**
 * AUTHOR: Federico Vitale - RAWNLY (https://rawnly.com)
 * <fedevitale99@gmail.com>
 */

/* FONTS FACES */

@font-face {
  font-family: 'Infinity';
  src: url('fonts/Infinity/infinity.ttf');
}

@font-face {
  font-family: 'Hero';
  src: url('fonts/Hero/hero.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Hero';
  src: url('fonts/Hero/hero-light.otf');
  font-weight: 200;
}

@font-face {
  font-family: 'Cabo';
  src: url('fonts/cabo_rounded/Cabo-Rounded-Regular.otf');
  font-style: normal;
}

@font-face {
  font-family: 'Cabo';
  src: url('fonts/cabo_rounded/Cabo-Rounded-Italic.otf');
  font-style: italic;
}


@font-face {
  font-family: 'Ancherr';
  src: url('fonts/Ancherr/Ancherr.ttf');
}

@font-face {
  font-family: 'Lugos';
  src: url('fonts/Lugos/Lugos-regular.otf');
}

@font-face {
  font-family : 'Flexure';
  src         : url('fonts/HBM Flexure/HBM Flexure.otf');
}

@font-face {
  font-family : 'Forista';
  src         : url('fonts/HBM Forista/HBM Forista.ttf');
}

@font-face {
  font-family : 'Forista Sketchy';
  src         : url('fonts/HBM Forista/HBM Forista Sketchy.ttf');
}

@font-face {
  font-family : 'Forista Woody';
  src         : url('fonts/HBM Forista/HBM Forista Woody.ttf');
}

@font-face {
  font-family: 'Razed';
  src: url('fonts/HBM Razed/HBM Razed Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Razed';
  src: url('fonts/HBM Razed/HBM Razed Light.ttf');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'Razed Trend';
  src: url('fonts/HBM Razed/HBM Razed Trend.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Razed Galerie';
  src: url('fonts/HBM Razed/HBM Razed Galerie.ttf');
  font-weight: normal;
  font-style: normal;
}
/* FONTS */

.raleway {
  font-family : 'Raleway',
                sans-serif;
}

.lobster {
  font-family : 'Lobster',
                cursive;
}

.pacifico {
  font-family : 'Pacifico',
                cursive;
}

.flexure {
  font-family : 'Flexure',
                sans-serif;
}

.forista {
  font-family : 'Forista',
                sans-serif;
}

.forista-sketchy {
  font-family : 'Forista Sketchy',
                sans-serif;
}

.forista-woody {
  font-family : 'Forista Woody',
                sans-serif;
}

/* HTML ~ BODY */

html:root {
    --color-darkbg: #111;
    --color-darken-dark: #0D0C0C;
    --color-overlay: #181818;
    --color-mix: #121111;
}

body,
html {
  width       : 100vw;
  margin      : 0px;
  padding     : 0px;
  font-family : 'Raleway',
                sans-serif;
  font-size   : 18px;
}

body * {
  color: #fff;
  font-family: 'Infinity', sans-serif;
  font-weight: 100;
}

body *::selection,
html *::selection {
  color      : var(--color-lines);
  background : var(--color-overlay);
}

html {
  background : #111111;
  height: 100%;
}

/* HEADERS */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family : 'Raleway',
                sans-serif;
}

/* GENERAL DOM */

section {
  position : relative;
  width    : 100%;
  height   : 100vh;
}


footer {
  width  : calc(100vw - 30px);
  height: auto;
  padding: 15px;
  background: var(--color-mix);
  text-align: center;
  border-top: 1px solid rgba(255,255,255,.1);
}

footer .footer-inner {
  color       : #fff;
}

/* ME */

.user {
  color           : #75D9D9;
  text-decoration : underline;
  letter-spacing  : 2px;
}

.user::before {
  content : '#';
}

/* BACKGROUND */

.background {
  z-index         : -1;
  position        : absolute;
  top             : 0px;
  left            : 0px;
  width           : 100%;
  height          : 100%;
  background-size : cover;
}

.background.bug-full {
  width  : 100vw !important;
  height : 100vh !important;
}

.background[data-color="overlay"] {
  color      : white;
  opacity    : 0.4;
  background : var(--color-overlay);
}

.background[data-color="default"] {
  background : var(--color-darkbg);
}

.background[data-color="dark"] {
  background : var(--color-darken-dark);
}

/* PARTICLES */

.particles {
  z-index  : 0 !important;
  position : absolute;
  top      : 0px;
  left     : 0px;
  width    : 100vw;
  height   : 200vh;
}

.particles.half {
  height : 100vh !important;
}

/* CONTAINER */
.container {
  z-index    : 1;
  position   : absolute;
  top        : 0px;
  width      : 100%;
  height     : 100%;
  padding    : 0px 25px;
  color      : white;
  opacity    : 1;
  background : transparent;
  text-align : center;
}

.container::after {
  content : "";
  display : block;
  clear   : both;
}

.container.half {
  width : calc(50% - 50px);
}

.container.half.right {
  right : 0px;
}

.container.half.left {
  left : 0px;
}

/* ICONS FILL */

.ei-icn.light {
  fill : #fff;
}
.ei-icn.dark {
  fill : #111;
}


/* MISC */
.shard {
  background      : url('assets/shards.jpg') top left repeat;
  background-size : 50vw !important;
}


/* MEDIA QUERIES */


@media screen
       and (max-width : 500px) {
  .shard {
    background-size : 100% !important;
  }
}

@media screen
       and (max-width : 800px) {
  .no-mobile {
    display : none !important;
  }
}

@media screen
       and (max-width : 1100px) {
         .no-mobile.restricted {
           display : none !important;
         }
  .container.half {
    width   : 100%;
    padding : 0px !important;
  }
}

.ei-icn.text {
  top: 7px;
}

.no-desk {
  display: none;
}


.container-group {
  position  : relative;
  top       : 50%;
  width     : 100%;
  transform : translateY(-50%);
}
